@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");


/* Typography */


*/
::selection {
  background: #949D68;
  color: white;

}
h1,h2,h3,h4,h5 {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.2em;
  color: white;
}


/*  HEADER 

/* nav */

.navbar-right {
  margin-right: 40px;
}

.navbar-brand, .navbar-inverse .navbar-nav>li>a {

  color: white !important;
  opacity: 0.9;
}

.navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover {
  opacity: 1;
}


  /*carousel*/

  .carousel {
    max-height: 600px;
    max-width: 1200px;
    z-index:0;
    margin-left:  auto;
    margin-right: auto;

    margin-top: -30px;


  }

  .item{
  }

  .hd {
    position: relative;
    z-index: 20;
  }


  /* FIRST SECTION */

  .j1 {

    background:   #fff;
    color: #212121;
    text-align: justify;
  }

  .headtitle{
    margin-left: 15px;
    max-width: 400px;
    font-weight: normal;
    color: #000;
  }

  .jumbotron p {
    margin-top: 15px;
  }

  .img-head {
    margin-top: -80px;
  }

  .con-img {
    margin-top: 40px;
  }


  button.btn.btn-default.rightbtn:hover {
    background: #8BC34A;
    color: white;
  }

  /* SECOND SECTION */

  .wrap {
    background: #efefef;
  }

  .panel-body {
    padding: 0 !important;
  }

  .center-block{
    text-align: center;
  }

  /* THIRD SECTION */

  .about {
    background: #fff;
    margin-top: 50px;
/*    margin-top: 405px;
*/  }

  .small-gap {
    display:block;
    width: 100%;

  }

  .info-row p {
    font-size: 1.3em;
    padding: 25px;
  }

  /* FOURTH */

  .map-attractions {
    background: #90C695;
    border-top: 1px solid #CAD5AB;
    height: 450px;
    margin-top: -30px;

  }

  .map-attractions p {

    margin-top: 50px;
    color: #fff;
  }

  .maparea {
    border-right: 1px solid #d2d2d2;
  }

  .map {
    margin-top: 300px;
  }

  .ul-address {
    list-style: none;
    margin-right: 28px;
    
    text-align: right;
  }



  /* FOOTER */

  footer {
    background: #6D6D6D;
    height: 40px;
    margin-top: -30px;
  }








  @media (max-width:768px){

    p {
    }

    .nav li {
      text-align: center;
    }

    .j1 {
    }
    .map-attractions{
      height: 800px;
    }
    .maparea {
      border: none;
    }
    .ul-address {
      padding: 0;
    }
  }

@media (max-width: 1000px){
  .con-img {
    display: none;  
  }
  .img-head {
    margin-top: 20px;
  }
  .map {
    margin: 0;
  }

}